body {
background: #FF5A5F;
}

html, body, .container-table {
   height: 100%;
}
.container-table {
   display: table;
}
.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
   padding-top:10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: 300;
}
p, div {
    font-family: 'Open Sans';
    font-weight: 300;
}

.container {
  width: 500px;
  margin: 0 auto;
  margin-top:20px;
}

/*Create Charts Style*/

.chart-options {
  height: 440px;
  width: 1500px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
}

.chart-options-overlay {
  height: 440px;
  width: 1500px;
  position: absolute;
  margin-bottom: 20px;
  left: 170px;
  visibility: hidden;
  border: 5px white dashed;
}

.chart-options-overlay h1 {
  color: white;
  text-align: center;
  margin: 184px;
  font-size: 50px;
  font-weight: bold;
}

.chart-inputs {
  float: left;
  width: 600px;
  margin-left: 31px;
  margin-top: 19px;
  height: 300px;
}

.chart-inputs input {
  display: block;
  width: 100%;
  margin-bottom: 3px;
}

.chart-inputs span {
  font-weight: bold;
  font-size: 16px;
}

.chart-inputs button {
  margin-top: 7px;
  color: #FF5A5F;
  background: white;
  border-color: #FF5A5F;
  width: 100%;
}

.chart-inputs button:hover {
  margin-top: 10px;
  color: white;
  background: #FF5A5F;
  border-color: white;
  width: 100%;
}

.chart-options-pie, .chart-options-bar {
  float: right;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 25px;
  width: 390px;
  height: 390px;
  border: 1px solid #FF5A5F;
}

.chart-options-pie-overlay {
  float: right;
  position: absolute;
  text-align: center;
  margin: 25px;
  width: 390px;
  height: 390px;
  border: 1px solid #FF5A5F;
  z-index: 10;
  left: 1060px;
  opacity: .2;
}

.chart-options-bar-overlay {
  float: right;
  position: absolute;
  text-align: center;
  margin: 25px;
  width: 390px;
  height: 390px;
  border: 1px solid #FF5A5F;
  z-index: 10;
  left: 645px;
  opacity: .2;
}

.chart-options-bar {
  margin-right: 0px !important;
}

.charts-options svg {
  background-color: #FF5A5F;
}

.chart-options-pie h4 {
  top: 50px;
  position: relative;
}

.chart-options-bar .rd3-basic-chart {
  top: 150px;
  position: relative;
}

.qTitle {
  color: white;
  padding-bottom: 40px;
}

.qTitle h3 {
  padding-bottom: 30px;
}

.pQuestion {
  width:400px;
  height:400px;
  margin-left:7%;
  margin-top:30%;
  padding: 8px;
  padding-left: 16px;
}

.next {
  margin-left: 18%;
  margin-top: 15%;
}

.res-btn {
  margin: 8px;
}

.answers {
  margin-top:60px;
  padding-top:90px;
}

.btn:hover {
  color: #FF5A5F;
  background:none;
  border-color: white;
}

a:visited {
  color: white;
}

.btn {
  color: #FF5A5F;
  background:white;
  border-color: #FF5A5F;
}

.btn start{
  color: #FF5A5F;
  background:#FF5A5F;
  width:200px;
  height: 300px;
}

.fa {
  color: #FF5A5F;
}

.thumb-answers {
  margin-left: 26%;
}

a {
  color:white;
}

i {
  margin-right: 40px;
}

panel {
  width:355px;
}

.flexbox .col-md-4{
   padding-left: 0;
   padding-right:0;
   }

div.flexbox {
           display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
           overflow: hidden;
           flex-direction: row;
           flex-wrap: wrap;
       }
div.panel-wizard {
     flex: 1 1 auto;
 }

.instructions {
  width:500px;
}

.blockquote {
  margin-left: 33%;
  margin-top: 8%;
  margin-bottom:10%
}

.display-1 {
  color:white;
}
